* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

.timer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.time {
  margin: 0 30px;
  font-size: 10rem;
  line-height: 1;
}

h2 {
  text-align: center;
  font-size: 2rem;
}
